{% extends 'account/_layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<article class="card">
  <header class="card-header">
    <strong class="d-inline-block mr-3">Logged in as:</strong>
    <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
  </header>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="text-align: center">
          <div class="card-body">
            <h5 class="card-title">My Products</h5>
            <h4>{{ products_count }}</h4>
            <a href="{% url 'my_products' %}">View Products</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="text-align: center">
          <div class="card-body">
            <h5 class="card-title">My Orders</h5>
            <h4>{{ orders_count }}</h4>
            <a href="{% url 'my_orders' %}">View Orders</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="text-align: center">
          <div class="card-body">
            <h5 class="card-title">My Sales</h5>
            <h4>{{ sales_count }}</h4>
            <a href="{% url 'my_sales' %}">View Sales</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">My Products</h5>
            <div class="d-flex flex-wrap">
              <div class="mr-4 mb-2"><strong>Total:</strong> {{ products_count }}</div>
              <div class="mr-4 mb-2 text-primary"><strong>Active:</strong> {{ active_products_count }}</div>
              <div class="mr-4 mb-2 text-secondary"><strong>Inactive:</strong> {{ inactive_products_count }}</div>
            </div>
            <a class="btn btn-sm btn-outline-primary mt-2" href="{% url 'my_products' %}">Manage Products</a>
            <a class="btn btn-sm btn-primary mt-2" href="{% url 'add_product' %}">Add Product</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
