{% extends 'account/_layout.html' %}
{% block title %}Message {{ product.seller.first_name|default:product.seller.username }}{% endblock %}
{% block content %}
<article class="card">
  <header class="card-header">
    <strong class="d-inline-block mr-3">Message the seller</strong>
    <span class="text-muted">about "{{ product.name }}"</span>
  </header>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_subject">Subject:</label>
        {{ form.subject }}
      </div>
      <div class="form-group">
        <label for="id_body">Message:</label>
        {{ form.body }}
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
      <a href="{% url 'product_detail' product.id %}" class="btn btn-light">Cancel</a>
    </form>
  </div>
</article>
{% endblock %}
