{% extends 'templates copy/master/base1.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-3">
        <div class="card h-100">

            {% if product.product_image %}
                <img src="{{ product.product_image.url }}"
                     class="card-img-top"
                     alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default_product_image.jpg' %}"
                     class="card-img-top"
                     alt="{{ product.name }}">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Rs. {{ product.price }}</p>
                <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">
                    View
                </a>
            </div>

        </div>
    </div>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
</div>

{% endblock %}